#gift{
/*   height: 189px; */
  width: 48%;
}
#batman{
/*   height: 189px; */
  width: 48%;
}
#robin{
      font-family: cursive;
    font-size: ;
    border: 1px solid #c80202;
    width: 1000px;
}
#hi{font-family: cursive;
font-size: 60px;}
#lee{font-size: xx-large;
font-family: cursive;}